{% load staticfiles %}
{% load extras %}

<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg d-flex justify-content-center align-content-center g-pt-20--lg">
                <div><img src="{% static 'img/logo/Emblem_of_Crimea_bottom.png' %}" alt="Logo" class="img-fluid">
                </div>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                {% last_news_footer %}
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Меню</h2>
                </div>

                <nav class="text-uppercase1">
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">

                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Новости</a>

                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>

                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">

                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Форум</a>

                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>

                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">

                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'file_storage:section-list' %}">Файловое
                                    хранилище</a>

                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>

                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">

                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'faq' %}">Справка</a>

                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>

                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">

                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'legal_info:index' %}">Правовая информация</a>

                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>

                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Связь с нами</h2>
                </div>

                <address class="g-bg-no-repeat g-font-size-14 mb-0">

                    <!-- Email and Website -->

                    <div class="d-flex g-mb-20">


                        <p class="mb-0">

                            Вы можете задать и получить ответы по поводу работы ресурса, используя электронную почту
                            <a href="mailto:info@edcrimea.ru">info@edcrimea.ru</a>

                        </p>

                    </div>

                    <!-- End Email and Website -->

                </address>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</div>