{% extends 'base.html' %}

{% block title %}Файловое хранилище{% endblock %}

{% block breadcrumbs %}
    {% include 'file_storage/section/list/_partials/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="row g-min-height-300">
        <div class="col-md-12">
            <div class="g-pa-15 d-flex justify-content-between">
                <a href="{% url 'file_storage:create-file' %}" class="btn u-btn-primary"><i class="fa fa-upload g-mr-5"></i>Добавить файл</a>
                <a href="" class="btn u-btn-brown"><i class="fa fa-search g-mr-5"></i>Поиск файлов</a>
            </div>

            {% if section_list %}
                <!-- Table Bordered -->
                <div class="card-block table-responsive">
                    <table class="table table-bordered u-table--v1 mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Наименование</th>
                            <th>Количество файлов</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for section in section_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'file_storage:file-list' section.pk %}">{{ section.title }}</a></td>
                                <td>{{ section.get_files_count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End Table Bordered -->
            {% else %}
                <p class="lead g-font-weight-500">Разделы отсутствуют.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}