<form class="g-py-15 g-mb-20" method="post">
    {% csrf_token %}

    {% if password_change_form.errors %}
        <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0 g-mb-30" role="alert">
            <button type="button" class="close u-alert-close--light g-ml-10 g-mt-1" data-dismiss="alert"
                    aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

            <div class="media">
                <div class="media-body">
                    <p class="m-0">Форма содержит ошибки!</p>
                </div>
            </div>
        </div>
    {% endif %}

    <input type="hidden" name="action" value="edit_security">

    {% for field in password_change_form %}
        {% include "my_auth/my_profile/settings/_partials/form_field.html" with field=field %}
    {% endfor %}

    <div class="text-sm-right">
        <button type="submit" class="btn u-btn-primary rounded-0 g-py-12 g-px-25">Сохранить</button>
    </div>
</form>