{% extends 'base.html' %}

{% block breadcrumbs %}
    <section class="g-my-30">
        <div class="container">
            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="/">Главная</a>
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Учётные записи</a>
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-color-primary">
                    <span>Моя учётная запись</span>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="row g-mt-minus-30">

        <div class="col-lg-3 g-mb-50 g-mb-0--lg">
            <!-- User Image -->

            <div class="profile-avatar">
                {% include "partials/avatar.html" with profile=profile show_placeholder=True %}
            </div>

            <!-- Sidebar Navigation -->
            <div class="list-group list-group-border-0 g-mb-40">
                <a href="#"
                   class="list-group-item list-group-item-action justify-content-between active">
                    <span><i class="icon-cursor g-pos-rel g-top-1 g-mr-8"></i> Информация</span>
                </a>

                <a href="#"
                   class="list-group-item list-group-item-action justify-content-between">
                    <span><i class="icon-envelope g-pos-rel g-top-1 g-mr-8"></i> Сообщения</span>
                </a>

                <a href="#"
                   class="list-group-item list-group-item-action justify-content-between">
                    <span><i class="icon-layers g-pos-rel g-top-1 g-mr-8"></i> Пользователи Портала</span>
                </a>

                <a href="#"
                   class="list-group-item list-group-item-action justify-content-between">
                    <span><i class="icon-disc g-pos-rel g-top-1 g-mr-8"></i> Моё файловое хранилище</span>
                </a>

                <a href="#"
                   class="list-group-item list-group-item-action justify-content-between">
                    <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Настройки</span>
                </a>
            </div>
            <!-- End Sidebar Navigation -->
        </div>

        <div class="col-lg-9">
            <ul class="list-unstyled g-mb-30">
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">ФИО</strong>
                        <span class="align-top g-font-weight-600">{{ request.user.get_name }}</span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Образовательная организация</strong>
                        <span class="align-top">{{ request.user.organization }}</span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Категория</strong>
                        <span class="align-top">{% if request.user.is_staff or request.user.is_superuser %}Администратор{% else %}Пользователь{% endif %}</span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Статус</strong>
                        <span class="align-top"></span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Дата регистрации</strong>
                        <span class="align-top">{{ request.user.date_joined }}</span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Дата последнего посещения</strong>
                        <span class="align-top"></span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Контактный телефон</strong>
                        <span class="align-top">{{ request.user.phone }}</span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Страна/регион/город проживания</strong>
                        <span class="align-top"></span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Дата рождения</strong>
                        <span class="align-top"></span>
                    </div>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}