{% extends MACHINA_BASE_TEMPLATE_NAME %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}

{% block title %}{% trans "Форум" %} &mdash; {% block sub_title %}{% endblock sub_title %}{% endblock title %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/machina.board_theme.vendor.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}"/>

    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-line-pro/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-hs/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/animate.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/hs-megamenu/src/hs.megamenu.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/hamburgers/hamburgers.min.css' %}">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static 'css/unify-core.css' %}">
    <link rel="stylesheet" href="{% static 'css/unify-components.css' %}">
    <link rel="stylesheet" href="{% static 'css/unify-globals.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock css %}

{% block body %}
<main>
    <!-- Header -->
    {% include '_partials/header.html' %}
    <!-- End Header -->

    {% block header %}{% endblock header %}

    {% block breadcrumb %}{% include "partials/breadcrumb.html" %}{% endblock breadcrumb %}

    <div class="container g-pt-20 g-pb-50 forum" id="main_container">
        <div class="row">
            <div class="col-12">
                <div class="card g-mb-10">
                    <div class="card-header g-bg-black-opacity-0_7 g-color-white d-md-flex justify-content-between">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                            {% if not request.user.is_anonymous %}
                                <a href="{% url 'forum_member:user_subscriptions' %}" class="d-inline-block ml-3 g-color-white"><i
                                        class="fas fa-bookmark">&nbsp;</i>{% trans "Subscriptions" %}</a>
                                <a href="{% url 'forum_member:user_posts' request.user.id %}" class="d-inline-block ml-3 g-color-white"><i
                                        class="fas fa-comments">&nbsp;</i>{% trans "View my posts" %}</a>
                            {% endif %}
                            {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
                            {% if can_access_moderation_queue %}
                                <a href="{% url 'forum_moderation:queue' %}" class="d-inline-block ml-3 g-color-white"><i
                                        class="fas fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
                            {% endif %}
                        </div>

                        <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                            <form class="form-inline my-2 ml-3 my-lg-0" role="search" action="{% url 'forum_search:search' %}">
                                <input class="form-control mr-sm-2" type="search" placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}"
                                       name="q">
                            </form>
                            <a class="ml-3 g-color-white" href="{% url 'forum_search:search' %}">{% trans "Advanced search" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if messages %}
            <div class="row">
                <div class="col-12">
                    <br/>
                    {% block messages %}{% include "partials/messages.html" %}{% endblock messages %}
                </div>
            </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

    <!-- Footer -->
    {% include '_partials/footer.html' %}
    <!-- End Footer -->

    <!-- Copyright Footer -->
    {% include '_partials/footer_copyright.html' %}
    <!-- End Copyright Footer -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
        "bottom": 15,
        "right": 15
      }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>
{% endblock body %}

{% block js %}
    {{ block.super }}

    <!-- JS Global Compulsory -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static 'vendor/bootstrap/offcanvas.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
    <script src="{% static 'vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
    <script src="{% static 'vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
    <script src="{% static 'vendor/masonry/dist/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
    <script src="{% static 'vendor/fancybox/jquery.fancybox.min.js' %}"></script>

    <!-- JS Unify -->
    <script src="{% static 'js/hs.core.js' %}"></script>

    <script src="{% static 'js/components/hs.header.js' %}"></script>
    <script src="{% static 'js/helpers/hs.hamburgers.js' %}"></script>

    <script src="{% static 'js/components/hs.dropdown.js' %}"></script>
    <script src="{% static 'js/components/hs.popup.js' %}"></script>
    <script src="{% static 'js/components/hs.carousel.js' %}"></script>

    <script src="{% static 'js/components/hs.go-to.js' %}"></script>

    <!-- JS Custom -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'));

            // initialization of masonry
            $('.masonry-grid').imagesLoaded().then(function () {
                $('.masonry-grid').masonry({
                    columnWidth: '.masonry-grid-sizer',
                    itemSelector: '.masonry-grid-item',
                    percentPosition: true
                });
            });

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            machina.init();
            {% block onbodyload %}{% endblock onbodyload %}
        });
    </script>
{% endblock js %}
