{% extends 'base.html' %}
{% load i18n %}
{% load forum_member_tags %}

{% block title %}{{ profile.user.get_name }}{% endblock %}

{% block breadcrumbs %}
    <section class="g-my-30">
        <div class="container">
            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="/">Главная</a>
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Учётные записи</a>
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-color-primary">
                    <span>{{ profile.user.get_name }}</span>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="row g-mt-minus-30">

        <div class="col-lg-3 g-mb-50 g-mb-0--lg">
            <!-- User Image -->

            <div class="profile-avatar">
                {% if profile.avatar %}
                    <img class="img-fluid" src="{{ profile.avatar.url }}" />
                {% else %}
                    <img class="img-fluid" src="//via.placeholder.com/300x300?text=No+Photo" />
                {% endif %}
            </div>

            <div class="d-flex justify-content-center">
                <a href="{% url 'messages_compose_to' profile.user.email %}" class="btn u-btn-primary btn-lg g-mt-20"><i class="fa fa-envelope"></i> Сообщение</a>
            </div>
        </div>

        <div class="col-lg-9">
            <ul class="list-unstyled g-mb-30">
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">ФИО</strong>
                        <span class="align-top g-font-weight-600 g-font-size-16">{{ profile.user.get_name }}</span>
                    </div>
                </li>

                {% if profile.user.organization %}
                   <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                        <div class="g-pr-10">
                            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Образовательная организация</strong>
                            <span class="align-top">{{ profile.user.organization }}</span>
                        </div>
                    </li>
                {% endif %}

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Категория</strong>
                        <span class="align-top">{% if profile.user.is_staff or profile.user.is_superuser %}Администратор{% else %}Пользователь{% endif %}</span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Статус</strong>
                        <span class="align-top g-font-weight-600">
                            {% if profile.user.is_online %}
                                <span class="text-success">Online</span>
                            {% else %}
                                <span class="text-danger">Offline</span>
                            {% endif %}
                        </span>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Дата регистрации</strong>
                        <span class="align-top">{{ profile.user.date_joined }}</span>
                    </div>
                </li>

                {% if not profile.user.is_online %}
                    <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                        <div class="g-pr-10">
                            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Дата последнего посещения</strong>
                            <span class="align-top">{{ profile.user.last_activity }}</span>
                        </div>
                    </li>
                {% endif %}

                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">E-Mail</strong>
                        <span class="align-top">{{ profile.user.email }}</span>
                    </div>
                </li>

                {% if profile.user.phone %}
                    <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                        <div class="g-pr-10">
                            <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Контактный телефон</strong>
                            <span class="align-top">{{ profile.user.phone }}</span>
                        </div>
                    </li>
                {% endif %}

                {% if profile.user.address %}
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Страна/регион/город проживания</strong>
                        <span class="align-top">{{ profile.user.address }}</span>
                    </div>
                </li>
                {% endif %}

                {% if profile.user.birthdate %}
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Дата рождения</strong>
                        <span class="align-top"></span>
                    </div>
                </li>
                {% endif %}
            </ul>

            <div class="g-mb-30 row">
                <div class="col-md-12">
                    <div class="profile-content">
                        <div class="card">
                            <div class="card-header g-bg-blue g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">{% trans "Statistics" %}</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 divider text-center">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 emphasis">
                                                <h2><strong>{{ profile.posts_count }}</strong></h2>
                                                <p><small>Сообщений на форуме</small></p>
                                            </div>
                                            <div class="col-12 col-sm-4 emphasis">
                                                <h2><strong>{{ topics_count }}</strong></h2>
                                                <p><small>Тем на форуме</small></p>
                                            </div>
                                            <div class="col-12 col-sm-4 emphasis">
                                                <h2><strong>0</strong></h2>
                                                <p><small>Файлов в файлохранилище</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row recent-posts">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header g-bg-blue g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
                            {% trans "Recent posts" %}{% if recent_posts %}&nbsp;(<a href="{% url 'forum_member:user_posts' profile.user_id %}" class="g-color-white-opacity-0_8">{% trans "View all" %}</a>){% endif %}</div>
                        <div class="card-body">
                            {% for post in recent_posts %}
                                <div class="row post">
                                    <div class="col-md-12 post-content-wrapper">
                                        <div class="post-title">
                                            <a href="{% url 'forum_conversation:topic' post.topic.forum.slug post.topic.forum.pk post.topic.slug post.topic.pk %}?post={{ post.pk }}#{{ post.pk }}">
                                                {{ post.subject }}</a>
                                        </div>
                                        <p>
                                            <small class="text-muted">
                                                <i class="fa fa-clock-o"></i>&nbsp;
                                                {% blocktrans with creation_date=post.created %}On {{ creation_date }}{% endblocktrans %}
                                            </small>
                                        </p>
                                        <div class="post-content">
                                            {{ post.content.rendered|truncatechars_html:160 }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}