{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 g-min-height-300">
            <h1 class="h2">Сброс пароля</h1>

            <form class="g-py-15 g-mb-20" method="post">
                {% if form.errors %}
                    <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0" role="alert">
                        <button type="button" class="close u-alert-close--light g-ml-10 g-mt-1" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="media">
                            <div class="media-body">
                                <p class="m-0">Форма содержит ошибки!</p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% csrf_token %}

                {% include "registration/_partials/form_field.html" with field=form.email %}

                <button class="btn btn-md u-btn-primary rounded-0 g-py-15 mb-3" type="submit">Сбросить пароль</button>

            </form>

            <p>Для авторизации перейдите на <a href="{% url 'login' %}">страницу входа</a>.</p>
        </div>
    </div>
{% endblock %}
